{% include 'admin/partials/header.twig' with {'page_title': 'Edit Post', 'is_editor': true } %}


<div class="wrap has-meta">
    {% include 'admin/partials/sidebar.twig' %}
    {% include 'admin/partials/meta-sidebars/edit-post.twig' %}

    <div class="content-area content-area--edit-post">
        <div id="editor">
            {% include 'admin/editor.twig' %}
        </div>
    </div>
</div>

{% include 'admin/partials/footer.twig' %}
