{% include 'admin/partials/header.twig' with {'page_title': 'Edit Post', 'is_editor': true } %}


<div class="wrap has-meta">
    {% include 'admin/partials/sidebar.twig' %}
    {% include 'admin/partials/meta-sidebars/edit-post.twig' %}

    <div class="content-area content-area--edit-post">
        <div id="editor">
            <div class="editor-content">
                {% include 'admin/editor/post-title.twig' %}
                {% include 'admin/editor/post-slug.twig' %}

                <div class="post-content">
                    <label>Post content</label>
                    <div class="blocks"
                         hx-get="/admin/api/post/{{ id }}/editor"
                         hx-trigger="load"
                         hx-swap="outerHTML">Loading ...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'admin/partials/footer.twig' %}
