{% include 'admin/partials/header.twig' with {'page_title': 'Edit Post', 'editor': true } %}


<div class="wrap">
    {% include 'admin/partials/sidebar.twig' %}

    <div class="content-area edit-post">
        <div class="page-heading">
            <h2 class="title">Edit Post</h2>

            <div class="post-meta">
                <button type="button" class="toggle-post-settings">
                    {{ post.data.status }}
                    <i class="fas fa-cog"></i>
                </button>

                <div class="post-settings">
                    <div class="post-status">
                        <label for="status">Status</label>
                        <select name="status" id="status">
                            <option value="draft" {% if post.data.status is same as 'draft' %} selected {% endif %}>Draft</option>
                            <option value="published" {% if post.data.status is same as 'published' %} selected {% endif %}>Published</option>
                        </select>
                    </div>

                    <hr />

                    <div class="post-published-date">
                        <label for="published-at">Published at</label>
                        <input type="datetime-local" id="published-at" name="published_at" value="{{ post.data.published_at|date('Y-m-d H:i') }}">
                    </div>

                    <hr />

                    <a href="/admin/posts/delete/{{ id }}" class="btn btn-warning">Delete post</a>
                </div>
            </div>
        </div>

        <div id="editor"
             hx-get="/admin/api/post/{{ id }}/editor"
             hx-trigger="load"
             hx-swap="innerHTML">
            Loading ...
        </div>
    </div>
</div>

{% include 'admin/partials/footer.twig' %}
