<div class="cm"></div>
<textarea
        class="code-textarea"
        name="value"
        placeholder="Code ..."
        hx-post="/admin/api/post/{{ post.id }}/blocks/{{ block.id }}"
        hx-trigger="input changed delay:250ms"
        hx-swap="none">{{ block.value }}</textarea>