/*
  xt256.css

  Contact: initbar [at] protonmail [dot] ch
         : github.com/initbar
*/

.hljs {
    color: #eaeaea;
}

.hljs-subst {
    color: #eaeaea;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-type {
    color: #eaeaea;
}

.hljs-params {
    color: #fff;
}

.hljs-literal,
.hljs-number,
.hljs-name {
    color: #f5b7b7;
    font-weight: bolder;
}

.hljs-comment {
    color: #e7e7e7;
    opacity: .5;
}

.hljs-selector-id,
.hljs-quote {
    color: #00ffff;
}

.hljs-template-variable,
.hljs-variable,
.hljs-title {
    color: #00ffff;
    font-weight: bold;
}

.hljs-selector-class,
.hljs-keyword,
.hljs-symbol {
    color: #fff000;
}

.hljs-string,
.hljs-bullet {
    color: #00ff00;
}

.hljs-tag,
.hljs-section {
    color: #c1c5f6;
}

.hljs-selector-tag {
    color: #eac5ff;
    font-weight: bold;
}

.hljs-attribute,
.hljs-built_in,
.hljs-regexp,
.hljs-link {
    color: #eaffcb;
}

.hljs-meta {
    color: #fff;
    font-weight: bolder;
}
