@import url('../../shared/css/fonts.css');
@import url('hljs.css');

/** RESET */
* {
    box-sizing: border-box;
    position: relative;
}

/** OVERALL */
body {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    line-height: 1.75;
    color: #242424;
    background: #fefefe;
    padding: 0;
    margin: 60px 0 0;
}

@media all and (max-width: 750px) {
    body {
        padding-top: 90px;
        padding-bottom: 30px;
        margin: 0;
    }
}

.wrap {
    width: 620px;
    margin: 0 auto;
}

@media all and (max-width: 750px) {
    .wrap {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        margin: 0;
    }
}

a {
    color: #111;
    text-decoration: none;
}

code {
    font-family: "Jetbrains Mono", monospace;
    font-size: 0.85rem;
    color: #111;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 2px 4px;
}

pre code {
    line-height: 1.45;
    padding: 0;
    background: none;
    border: 0;
    border-radius: 0;
}

/** HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid transparent;
    padding-left: 30px;
    padding-right: 30px;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
}

.header.not-top {
    background: #111;
}

@media all and (max-width: 750px) {
    .header {
        background: #111;
    }
}

.header h1 {
    display: inline-block;
    font-size: .9rem;
    margin: 0;
}

.header h1 a {
    font-weight: 500;
    color: #111;
    border: 0;
}

.header.not-top h1 a {
    color: #fff;
}

@media all and (max-width: 750px) {
    .header h1 a {
        color: #fff;
    }

}

.header .nav a {
    font-size: .9rem;
    font-weight: 400;
    color: #888;
    border-bottom: 1px solid transparent;
    margin-left: 30px;
}

.header.not-top .nav a {
    color: #999;
}

@media all and (max-width: 750px) {
    .header .nav a {
        color: #999;
    }
}

.header .nav a:hover {
    color: #111;
    border-bottom: 1px solid #111;
}

.header.not-top .nav a:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
}

@media all and (max-width: 750px) {
    .header .nav a:hover {
        color: #fff;
        border-bottom: 1px solid #fff;
    }
}

/** ARTICLE */
article {
    border-bottom: 1px solid #e5e5e5;
    padding-top: 120px;
    padding-bottom: 120px;
}

@media all and (max-width: 750px) {
    article {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    article:first-child {
        padding-top: 0;
    }
}

article:last-child {
    border-bottom: 0;
}

article .title {
    width: 95%;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 750;
    margin-top: -5px;
    margin-bottom: 5px;
}

@media all and (max-width: 750px) {
    article .title {
        font-size: 1.8rem;
    }
}

article .title a {
    color: #111;
    font-weight: 750;
    letter-spacing: -0.028rem;
}

article .date {
    font-size: .95rem;
    font-weight: 400;
    color: #888;
}

@media all and (max-width: 750px) {
    article .date {
        font-size: .85rem;
    }
}

article .date a {
    color: inherit;
    border-bottom: 0;
}

article .body {
    font-size: 1.07rem;
    letter-spacing: -0.015rem;
    font-weight: 400;
    line-height: 1.75;
    color: #111;
    margin-top: 30px;
}

@media all and (max-width: 750px) {
    article .body {
        font-size: 1rem;
    }
}

article .body p {
    margin-bottom: 30px;
}

article .body p:last-child {
    margin-bottom: 0;
}

article .body a {
    font-weight: 500;
    color: #4078f2;
    border-bottom: 1px solid #4078f2;
}

article .body strong,
article .body b {
    font-weight: 600;
    color: #111;
}

article .body picture {
    display: block;
    width: auto;
    height: auto;
    position: relative;
    margin-bottom: 30px;
}

article .body picture img {
    display: block;
    width: 100%;
    height: auto;
    background: #eee;
    position: relative;
    z-index: 2;
}

article pre {
    width: calc(100% + 100px);
    color: #333;
    line-height: 1.1;
    background: #f2f2f2;
    overflow: auto;
    z-index: 10;
    position: relative;
    padding: 30px 50px;
    margin-left: -50px;
    margin-bottom: 30px;
}

@media all and (max-width: 750px) {
    article pre {
        width: calc(100% + 60px);
        border-radius: 0;
        border-left: 0;
        border-right: 0;
        padding: 30px;
        margin-left: -30px;
    }
}

article .body h2 {
    font-family: 'Inter', sans-serif;
    font-size: 1.35rem;
    line-height: 1.25;
    color: #111;
    font-weight: 550;
    margin-top: 80px;
    margin-bottom: 25px;
}

@media all and (max-width: 750px) {
    article .body h2 {
        font-size: 1.25rem;
    }
}

article .body h2 * {
    font-size: inherit;
}

article .body ul {
    padding: 0;
    margin-left: 18px;
}

article .body ul li {
    list-style: square;
}

/** PAGINATION */
.pagination {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    color: #777;
    background: #f6f6f6;
    border-top: 1px solid #ddd;
    gap: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.pagination .btn {
    display: flex;
    width: 135px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    border-radius: 25px;
    padding: 6px 14px;
}

.pagination a.btn {
    background: #111;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.pagination span.btn {
    border: 1px solid #999;
    color: #999;
}

/** FOOTER */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #999;
    background: #fff;
    border-top: 1px solid #ddd;
    padding-top: 30px;
    padding-bottom: 30px;
}

@media all and (max-width: 750px) {
    .footer {
        padding-bottom: 70px;
    }
}

.footer a {
    color: #111;
    border-bottom: 1px solid #111;
}