/** RESET */
* {
    box-sizing: border-box;
}

/** OVERALL */
body {
    font-family: 'Inter Tight', system-ui, sans-serif;
    font-size: 15px;
    line-height: 1.65;
    color: #333;
    width: 550px;
    margin: 100px;
}

@media all and (max-width: 750px) {
    body {
        width: 100%;
        padding: 30px;
        margin: 0;
    }
}

a {
    color: #111;
    text-decoration: none;
    border-bottom: 1px solid #111;
}

h1 {
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 100px;
}

h1 a {
    color: #999;
    border: 0;
}

@media all and (max-width: 750px) {
    h1 {
        margin-bottom: 50px;
    }
}

article {
    margin-bottom: 150px;
}

@media all and (max-width: 750px) {
    article {
        margin-bottom: 75px;
    }
}

.posts article:last-child {
    margin-bottom: 0;
}

article h2 {
    font-size: 23px;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 5px;
}

article h2 a {
    border: 0;
}

article .date {
    font-size: 14px;
    color: #999;
    margin-bottom: 10px;
}

article .date a {
    color: inherit;
    border-bottom: 0;
}

article .body {
    font-family: 'Merriweather', serif;
    line-height: 1.75;
    letter-spacing: -0.01em;
    margin-top: 25px;
}

article .body p {
    hyphens: auto;
    text-align: justify;
    margin-bottom: 25px;
}

article .body a {
    border-bottom: 2px solid #111;
}

article pre {
    width: calc(100% + 125px);
    font-size: 14px;
    background: #f2f2f2;
    overflow: auto;
    padding: 25px 25px 25px 100px;
    margin-left: -100px;
    margin-bottom: 25px;
}

@media all and (max-width: 750px) {
    article pre {
        width: calc(100% + 60px);
        padding: 30px;
        margin-left: -30px;
    }
}