@import url('../../shared/css/fonts.css');
@import url('hljs.css');

/** VARS */
:root {
    --linkColor: #ff73ea;
    --codeBgColor: #06112f;
}

/** RESET */
* {
    box-sizing: border-box;
    position: relative;
}

/** OVERALL */
body {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    line-height: 1.75;
    color: #333;
    background: #fff;
    padding: 0;
    margin: 0;
}

body.js-about-section-open {
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.page {
    width: 585px;
    margin: 100px;
}

@media all and (max-width: 750px) {
    .page {
        width: 100%;
        padding: 30px;
        margin: 0;
    }
}

a {
    color: #111;
    text-decoration: none;
}

h1 {
    display: inline-block;
    font-size: 1.4rem;
    margin: 0;
}

h1 a {
    font-weight: 400;
    color: #888;
    border: 0;
}

h1 .about-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    font-size: 0.7rem;
    font-weight: 500;
    height: 25px;
    text-transform: uppercase;
    border-radius: 25px;
    color: #777;
    background: #eee;
    border: 0;
    padding: 0 8px;
    transform: rotate(15deg);
    cursor: pointer;
    position: absolute;
    top: -10px;
    right: -35px;
}

h1 .about-btn:hover {
    color: #fff;
    background: #111;
}

h1 .about-btn i {
    font-size: 0.75rem;
}

code {
    font-size: 0.85rem;
    color: #111;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 2px 4px;
}

pre code {
    line-height: 1.3;
    padding: 0;
    background: none;
    border: 0;
    border-radius: 0;
}

/** HEADER */
.header {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

/** ARTICLE */
article:after {
    display: block;
    content: '';
    width: calc(100% + 100px);
    height: 4px;
    background: #eee;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-top: 100px;
    margin-left: -100px;
    margin-bottom: 100px;
}

@media all and (max-width: 750px) {
    article:after {
        width: calc(100% + 60px);
        margin-top: 50px;
        margin-left: -30px;
        margin-bottom: 50px;
    }
}

article:last-child:after {
    display: none;
}

article > h2 {
    width: 80%;
    font-size: 1.75rem;
    line-height: 1.25;
    font-weight: 700;
    margin-top: -5px;
    margin-bottom: 5px;
}

article > h2 a {
    color: #111;
    font-weight: 750;
    letter-spacing: -0.025rem;
}

article .date {
    font-size: .9rem;
    font-weight: 400;
    color: #bbb;
}

article .date a {
    color: inherit;
    border-bottom: 0;
}

article .body {
    margin-top: 30px;
}

article .body p {
    margin-bottom: 30px;
}

article .body p:last-child {
    margin-bottom: 0;
}

article .body a {
    font-weight: 500;
    color: #4078f2;
    border-bottom: 1px solid #4078f2;
}

article .body picture {
    display: block;
    width: calc(100% + 125px);
    height: auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, .05);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    margin-bottom: 30px;
}

article .body picture img {
    display: block;
    width: 100%;
    height: auto;
    background: #eee;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    z-index: 2;
}

article pre {
    width: calc(100% + 125px);
    color: #333;
    line-height: 1.1;
    background: #fafafa;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 4px 20px rgba(0, 0, 0, .05);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: auto;
    z-index: 10;
    position: relative;
    padding: 25px 25px 25px 100px;
    margin-left: -100px;
    margin-bottom: 25px;
}

@media all and (max-width: 750px) {
    article pre {
        width: calc(100% + 60px);
        border-radius: 0;
        border-left: 0;
        border-right: 0;
        padding: 30px;
        margin-left: -30px;
    }
}

article .body h2 {
    font-size: 1.4rem;
    line-height: 1.25;
    color: #111;
    font-weight: 550;
    margin-top: 75px;
    margin-bottom: 20px;
}

/** ABOUT */
.about-section-container {
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background: rgba(255,255,255,.8);
    backdrop-filter: blur(45px);
    -webkit-backdrop-filter: blur(45px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body.js-about-section-open .about-section-container {
    display: flex;
}

.about-section {
    display: none;
    width: 600px;
    color: #333;
    max-height: calc(100vh - 150px);
    box-shadow: 0 4px 25px rgba(0, 0, 0, .15);
    border-radius: 12px;
    border: 1px solid rgba(0,0,0,.35);
    background: #fff;
    overflow: hidden;
}

@media all and (max-width: 750px) {
    .about-section {
        width: calc(100vw - 30px);
    }
}

body.js-about-section-open .about-section {
    display: block;
}

.about-section .about-header {
    width: 100%;
    height: 60px;
    display: flex;
    color: #111;
    font-weight: 700;
    align-items: center;
    background: linear-gradient(#fff, #fafafa);
    box-shadow: 0 1px 4px rgba(0,0,0,.05);
    border-bottom: 1px solid #ccc;
    padding-left: 25px;
}

.about-section .about-header h1 {
    color: #111;
    font-weight: 500;
    font-size: 1.15rem;
}

.about-section .about-header button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    background: #111;
    border: 2px solid #fff;
    border-radius: 6px;
    box-shadow: 2px 2px 0 red;
    position: absolute;
    top: -15px;
    right: -15px;
}

.about-section .about-header button * {
    font-size: 15px;
}

.about-section .about-header button:active {
    box-shadow: 1px 1px 0 red;
    transform: translate(1px, 1px);
}

.about-section .about-content {
    width: 100%;
    max-height: calc(100vh - 200px);
    overflow: auto;
    padding: 15px 30px;
}

.about-section h1 {
    margin: 0;
}

.about-section h2 {
    text-transform: uppercase;
    font-weight: 600;
    color: #111;
    margin-top: 50px;
    margin-bottom: 20px;
}

.about-section ul {
    margin-left: 0;
    padding-left: 15px;
    margin-bottom: 25px;
}

.about-section ul li {
    list-style: square;
    margin-bottom: 5px;
}

.about-section ul li:last-child {
    margin-bottom: 0;
}

.about-section ul li a {
    font-weight: 600;
}

/** FOOTER */
.footer {
    display: flex;
    align-items: center;
    margin-top: 80px;
    font-size: 13px;
    color: #999;
}

.footer a {
    color: var(--linkColor);
}