/** RESET */
*, *:before, *:after {
    box-sizing: border-box;
    position: relative;
    padding: 0;
    margin: 0;
}

/** OVERALL */
body {
    font-family: system-ui, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    min-height: 100vh;
}

.wrap {
    display: grid;
    grid-template-columns: 175px auto;
    gap: 25px;
    max-width: 850px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 4px 12px;
}

.btn-primary {
    background: #111;
    border: 1px solid transparent;
    color: #fff;
}

/** SIDEBAR */
.sidebar {
    min-height: 100vh;
    border-right: 1px solid #ddd;
    padding-top: 25px;
}

.sidebar .nav li {
    font-size: 22px;
    font-weight: 400;
    list-style: none;
    letter-spacing: -0.25px;
    margin-bottom: 5px;
}

.sidebar .nav li a {
    text-decoration: none;
    color: #777;
    transition: all 0.1s ease-in-out;
}

.sidebar .nav li a:hover {
    color: #111;
}

.sidebar .nav li.active a {
    color: #111;
}

/** CONTENT AREA */
.content-area {
    padding-top: 25px;
    padding-left: 15px;
}

.content-area .page-heading {
    display: flex;
    align-items: center;
    gap: 25px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.content-area .page-heading .title {
    font-size: 22px;
    font-weight: 600;
    color: #111;
    letter-spacing: -0.5px;
}

/** POSTS */
.posts {}
.posts .post {
    display: flex;
    gap: 5px;
    flex-direction: column;
    border-bottom: 1px solid #eee;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.posts .post .row {
    display: flex;
    justify-content: space-between;
}

.posts .post .title {
    font-size: 18px;
    font-weight: 600;
    color: #111;
    letter-spacing: -0.25px;
}

.posts .post .title a {
    text-decoration: none;
    color: #111;
}

.posts .post .title a:hover {
    color: #111;
    text-decoration: underline;
}

.posts .post .meta {
    font-size: 13px;
    color: #888;
}

.posts .post .stats {
    font-size: 13px;
    color: #999;
}