{% include 'site/partials/header.twig' %}

<div class="posts">
    <article class="post">
        <h2 class="title">About</h2>
        <div class="body">{{ site_description | raw }}</div>
    </article>
</div>

{% include 'site/partials/footer.twig' %}