<div class="about-section">
    <h1>
        About
        <button class="toggle-about-section">
            <i class="fa fa-times"></i>
        </button>
    </h1>
    
    {{ site_description | raw }}
</div>