{% include 'site/partials/header.twig' %}

<article class="post">
    <h2 class="title">{{ post.data.title }}</h2>
    <div class="date"><a href="/{{ post.data.slug }}">{{ post.data.published_at | date('F jS, Y') }}</a></div>
    <div class="body">{{ post.data.html | raw }}</div>
</article>

{% include 'site/partials/footer.twig' %}