<article class="post">
    <h2 class="title"><a href="/{{ post.data.slug }}">{{ post.data.title }}</a></h2>
    <div class="date">{{ post.data.date | date('F jS, Y') }}</div>
    <div class="body">{{ post.data.html | raw }}</div>
</article>