#editor .code-block textarea {
    display: block;
    width: calc(100% + 40px);
    height: auto;
    font-size: 13px;
    font-family: "Jetbrains Mono", monospace;
    resize: none;
    line-height: 1.45;
    background: #fefefe;
    border: 1px solid #ddd;
    border-radius: 3px;
    overflow: hidden;
    padding: 20px;
    margin-top: 4px;
    margin-left: -20px;
    margin-bottom: 4px;
    min-height: 10px;
}

#editor .code-block textarea:focus {
    outline: none;
    border-color: #0077cc;
}