#editor .code-block textarea {
    display: block;
    width: 100%;
    height: auto;
    font-size: 13px;
    font-family: "Jetbrains Mono", monospace;
    resize: none;
    line-height: 1.45;
    background: transparent;
    border: 1px solid transparent;
    overflow: hidden;
    min-height: 10px;
}

#editor .code-block textarea:focus {
    outline: none;
    border: 1px solid #0077cc;
    border-radius: 4px;
}