#editor .block[data-block="image"] .upload-image {
    text-align: center;
    background: #fafafa;
    cursor: pointer;
    padding: 20px;
}

#editor .block[data-block="image"] img {
    display: block;
    max-width: 100%;
    height: auto;
}