        <div class="footer">
            <p>&copy; {{ 'now' | date('Y') }} {{ site_name }}. Powered by <a href="https://github.com/askonomm/sember">Sember</a>.</p>
        </div>

    </div>

</body>
</html>
