<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page_title %}{{ page_title }} &mdash; {% endif %}{{ site_name }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/assets/shared/fa/css/all.min.css">
    <link rel="stylesheet" href="/assets/site/css/style.css">
    <script src="/assets/site/js/about.js"></script>
</head>
<body>

{% include 'site/about.twig' %}

<div class="page">
    <h1>
        <a href="/">{{ site_name }}</a>
        <button class="toggle-about-section"><i class="fas fa-question"></i></button>
    </h1>