{% include 'partials/header.twig' %}

<div class="posts">
    <article class="post">
        <div class="wrap">
            <h2 class="title">Not Found</h2>
            <div class="body">
                <p>What you are looking for is not here. Maybe it once was, maybe it wasn't, who's to say?</p>
            </div>
        </div>
    </article>
</div>

{% include 'partials/footer.twig' %}