<div class="sidebar">
    <ul class="nav">
        <li {% if active is same as 'posts' %} class="active" {% endif %}>
            <a href="/admin/posts">
                <i class="fas fa-list-ol"></i>
            </a>
        </li>

        <li {% if active is same as 'settings' %} class="active" {% endif %}>
            <a href="/admin/settings"><i class="fas fa-cog"></i></a>
        </li>
    </ul>

    <ul class="nav bottom">
        <li>
            <a href="{{ url }}" target="_blank">
                <i class="fas fa-link"></i>
            </a>
        </li>
    </ul>
</div>