<div class="sidebar">
    <ul class="nav">
        <li {% if active is same as 'posts' %} class="active" {% endif %}>
            <a href="/admin/posts">Posts</a>
        </li>

        <li {% if active is same as 'settings' %} class="active" {% endif %}>
            <a href="/admin/settings">Settings</a>
        </li>
    </ul>

    <div class="bottom">
        <a class="link-to-site" href="{{ url }}" target="_blank">
            <i class="fas fa-link"></i>
            <span>{{ url_without_protocol }}</span>
            <i class="fas fa-arrow-right"></i>
        </a>
    </div>
</div>