{% include 'partials/header.twig' %}

<div class="posts">
    <article class="post">
        <div class="wrap">
            <h2 class="title">About</h2>
            <div class="body">{{ site_description | raw }}</div>
        </div>
    </article>
</div>

{% include 'partials/footer.twig' %}