<div class="post-title">
    <label for="post-title">Title</label>
    <textarea id="post-title"
              name="title"
              hx-post="/admin/api/post/{{ post.data.id }}/update-title"
              hx-trigger="input changed delay:250ms">{{ post.data.title }}</textarea>
</div>