<div class="add-block">
    <button class="toggle-block-list">
        <i class="fas fa-plus"></i>
    </button>

    <div class="block-list">
        {% for block in block_list %}
            <button type="button"
                    hx-post="/admin/api/post/{{ post.data.id }}/blocks/add/{{ block.key }}/{{ position }}"
                    hx-swap="outerHTML"
                    hx-target=".blocks">
                {{ block.name }}
            </button>
        {% endfor %}
    </div>
</div>