<div class="blocks">
    {% include 'admin/editor/add-block.twig' with {'position': 'beginning' } %}

    {% for block in blocks %}
        {{ block.render | raw }}
        {% include 'admin/editor/add-block.twig' with {'position': block.id } %}
    {% endfor %}
</div>