<div class="post-slug">
    <label for="slug">Link</label>

    <div class="container">
        <span>{{ url }}/</span>
        <input type="text"
               name="slug"
               id="slug"
               hx-post="/admin/api/post/{{ post.data.id }}/update-slug"
               hx-trigger="input changed delay:250ms"
               value="{{ post.data.slug }}">
    </div>
</div>